env/
.venv/
inside12SNRUnet/*
inside16SNRUnet/*
inside20SNRUnet/*

local*

# Ignore Python cache files
*__pycache__/
*.pyc
*.pyo
*.pyd

sea_clutter_segmentation_sequences.pt
single_frame_test.pt

results/swin_unet_training*

# Ignore cache files
*.cache